<h1>Meer triggers</h1>
<div class="code-view">
    <div class="render">
        <div hx-get="color" hx-trigger="every 2s" >
            <span id="colored" class="block color color-1">rainbows!</span>
        </div>
        <span id="mouseenter"
             hx-get="/mouseenter.html"
             hx-trigger="mouseenter once"
             hx-swap="outerHTML swap:1s"
             class="border block">
            mouseenter once
        </span>
    </div>
    <div class="code">
      <pre>
&lt;div hx-get=&Prime;block color&Prime;
     hx-trigger=&Prime;every 2s&Prime; &gt;
    &lt;span hx-get=&Prime;color&Prime;
            hx-trigger=&Prime;every 2s&Prime;
            class=&Prime;color-1&Prime;&gt;
                rainbows!
    &lt;/span&gt;
&lt;/div&gt;
&lt;span id=&Prime;mouseenter&Prime;
     hx-get=&Prime;/mouseenter.html&Prime;
     hx-trigger=&Prime;mouseenter once&Prime;
     hx-swap=&Prime;outerHTML swap:2s&Prime;
     class=&Prime;mouseenter&Prime;&gt;
    mouseenter once
&lt;/span&gt;
      </pre>
    </div>
</div>