<h1>Out of band</h1>
<div class="code-view">
    <div class="render">
        <div id="oobswap" class="border inline">
            Dit element word out of band geswapt
        </div>
        <button hx-get="/oob.html" hx-swap="outerHTML">
            Deze button wordt direct geswapt
        </button>
    </div>
    <div class="code">
        <pre>
&lt;div id=&Prime;oobswap&Prime; class=&Prime;border&Prime;&gt;
    Dit element word out of band geswapt
&lt;/div&gt;
&lt;button hx-get=&Prime;/oob.html&Prime; hx-swap=&Prime;outerHTML&Prime;&gt;
    Deze button wordt direct geswapt
&lt;/button&gt;
        </pre>
    </div>
</div>