<h1>Andere elementen vervangen</h1>
<div class="code-view">
    <div class="render">
        <button hx-get="/click.html" hx-target="#content"><span>Klik op mij!</span></button>
        <span id="content"></span>
    </div>
    <div class="code">
      <pre>
 &lt;button hx-get=&Prime;/click.html&Prime; hx-target=&Prime;#content&Prime;&gt;
     &lt;span&gt;Klik op mij!&lt;/span&gt;
 &lt;/button&gt;
 &lt;span id=&Prime;content&Prime;&gt;&lt;/span&gt;

 /click.html:
 &lt;span&gt;
     Geklikt!
 &lt;/span&gt;
      </pre>
    </div>
</div>